# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.json
*.dblite
.pio/build/esp32doit-devkit-v1/.cmake/api/v1/query/codemodel-v2
.pio/build/esp32doit-devkit-v1/__pio_env/__dummy.c
.pio/build/esp32doit-devkit-v1/__pio_env/__dummy.cpp
.pio/build/esp32doit-devkit-v1/__pio_env/__dummy.S
.pio/build/esp32doit-devkit-v1/__pio_env/CMakeLists.txt
.pio/build/esp32doit-devkit-v1/app-flash_args
.pio/build/esp32doit-devkit-v1/bootloader-flash_args
.pio/build/esp32doit-devkit-v1/bootloader-prefix/tmp/bootloader-cfgcmd.txt
.pio/build/esp32doit-devkit-v1/bootloader-prefix/tmp/bootloader-cfgcmd.txt.in
.pio/build/esp32doit-devkit-v1/bootloader.bin
.pio/build/esp32doit-devkit-v1/bootloader/.cmake/api/v1/query/codemodel-v2
.pio/build/esp32doit-devkit-v1/bootloader/build.ninja
.pio/build/esp32doit-devkit-v1/bootloader/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/CMakeCache.txt
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/3.16.4/CMakeASMCompiler.cmake
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/3.16.4/CMakeCCompiler.cmake
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/3.16.4/CMakeCXXCompiler.cmake
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/3.16.4/CMakeDetermineCompilerABI_C.bin
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/3.16.4/CMakeDetermineCompilerABI_CXX.bin
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/3.16.4/CMakeSystem.cmake
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/3.16.4/CompilerIdC/CMakeCCompilerId.c
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/3.16.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/cmake.check_cache
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/CMakeOutput.log
.pio/build/esp32doit-devkit-v1/bootloader/CMakeFiles/TargetDirectories.txt
.pio/build/esp32doit-devkit-v1/bootloader/config.env
.pio/build/esp32doit-devkit-v1/bootloader/config/sdkconfig.cmake
.pio/build/esp32doit-devkit-v1/bootloader/config/sdkconfig.h
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/bootloader/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/bootloader_support/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/efuse/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/esp32/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/esp_common/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/esp_hw_support/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/esp_hw_support/port/esp32/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/esp_rom/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/esp_system/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/esptool_py/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/hal/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/log/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/main/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/micro-ecc/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/newlib/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/partition_table/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/soc/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/soc/esp32/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/spi_flash/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/esp-idf/xtensa/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/bootloader/kconfigs.in
.pio/build/esp32doit-devkit-v1/bootloader/kconfigs_projbuild.in
.pio/build/esp32doit-devkit-v1/bootloader/rules.ninja
.pio/build/esp32doit-devkit-v1/build.ninja
.pio/build/esp32doit-devkit-v1/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/CMakeCache.txt
.pio/build/esp32doit-devkit-v1/CMakeFiles/3.16.4/CMakeASMCompiler.cmake
.pio/build/esp32doit-devkit-v1/CMakeFiles/3.16.4/CMakeCCompiler.cmake
.pio/build/esp32doit-devkit-v1/CMakeFiles/3.16.4/CMakeCXXCompiler.cmake
.pio/build/esp32doit-devkit-v1/CMakeFiles/3.16.4/CMakeDetermineCompilerABI_C.bin
.pio/build/esp32doit-devkit-v1/CMakeFiles/3.16.4/CMakeDetermineCompilerABI_CXX.bin
.pio/build/esp32doit-devkit-v1/CMakeFiles/3.16.4/CMakeSystem.cmake
.pio/build/esp32doit-devkit-v1/CMakeFiles/3.16.4/CompilerIdC/CMakeCCompilerId.c
.pio/build/esp32doit-devkit-v1/CMakeFiles/3.16.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
.pio/build/esp32doit-devkit-v1/CMakeFiles/bootloader.dir/Labels.txt
.pio/build/esp32doit-devkit-v1/CMakeFiles/cmake.check_cache
.pio/build/esp32doit-devkit-v1/CMakeFiles/CMakeOutput.log
.pio/build/esp32doit-devkit-v1/CMakeFiles/TargetDirectories.txt
.pio/build/esp32doit-devkit-v1/config.env
.pio/build/esp32doit-devkit-v1/config/sdkconfig.cmake
.pio/build/esp32doit-devkit-v1/config/sdkconfig.h
.pio/build/esp32doit-devkit-v1/esp-idf/__pio_env/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/app_trace/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/app_update/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/asio/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/bootloader/bootloader-flash_args.in
.pio/build/esp32doit-devkit-v1/esp-idf/bootloader/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/bootloader_support/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/bt/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/cbor/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/cmock/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/coap/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/console/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/cxx/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/driver/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/efuse/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp-tls/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp32/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_adc_cal/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_common/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_eth/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_event/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_gdbstub/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_hid/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_http_client/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_http_server/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_https_ota/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_https_server/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_hw_support/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_hw_support/port/esp32/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_ipc/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_local_ctrl/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_netif/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_pm/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_ringbuf/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_rom/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_serial_slave_link/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_system/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_system/port/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_system/port/soc/esp32/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_timer/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_websocket_client/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esp_wifi/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/espcoredump/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esptool_py/app-flash_args.in
.pio/build/esp32doit-devkit-v1/esp-idf/esptool_py/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/esptool_py/flasher_args.json.in
.pio/build/esp32doit-devkit-v1/esp-idf/expat/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/fatfs/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/freemodbus/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/freertos/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/hal/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/heap/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/idf_test/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/jsmn/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/json/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/libsodium/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/log/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/lwip/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/mbedtls/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/mbedtls/mbedtls/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/mbedtls/mbedtls/include/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/mbedtls/mbedtls/library/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/mdns/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/mqtt/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/newlib/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/newlib/port/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/nghttp/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/nvs_flash/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/openssl/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/partition_table/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/partition_table/partition_table-flash_args.in
.pio/build/esp32doit-devkit-v1/esp-idf/perfmon/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/protobuf-c/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/protocomm/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/pthread/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/sdmmc/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/soc/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/soc/esp32/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/spi_flash/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/spiffs/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/src/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/tcp_transport/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/tcpip_adapter/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/tinyusb/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/ulp/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/unity/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/vfs/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/wear_levelling/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/wifi_provisioning/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/wpa_supplicant/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp-idf/xtensa/cmake_install.cmake
.pio/build/esp32doit-devkit-v1/esp32.project.ld
.pio/build/esp32doit-devkit-v1/esp32_out.ld
.pio/build/esp32doit-devkit-v1/firmware.bin
.pio/build/esp32doit-devkit-v1/flash_app_args
.pio/build/esp32doit-devkit-v1/flash_args
.pio/build/esp32doit-devkit-v1/flash_args.in
.pio/build/esp32doit-devkit-v1/flash_bootloader_args
.pio/build/esp32doit-devkit-v1/flash_project_args
.pio/build/esp32doit-devkit-v1/kconfigs.in
.pio/build/esp32doit-devkit-v1/kconfigs_projbuild.in
.pio/build/esp32doit-devkit-v1/ldgen_libraries
.pio/build/esp32doit-devkit-v1/ldgen_libraries.in
.pio/build/esp32doit-devkit-v1/ldgen_libraries_pio
.pio/build/esp32doit-devkit-v1/longcmd-580f1456d0df3a7fa04eacab5e073ef7
.pio/build/esp32doit-devkit-v1/partition_table-flash_args
.pio/build/esp32doit-devkit-v1/partitions.bin
.pio/build/esp32doit-devkit-v1/rules.ninja
.pio/build/esp32doit-devkit-v1/x509_crt_bundle
.pio/build/esp32doit-devkit-v1/x509_crt_bundle.S
.pio/build/project.checksum
CMakeLists.txt
include/README
lib/README
platformio.ini
sdkconfig.esp32doit-devkit-v1
src/CMakeLists.txt
test/README
